<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="FOBOT_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="joint_hombro">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_hombro']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_hombro_codo">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_hombro_codo']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_codo">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_codo']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_codo_muneca">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_codo_muneca']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_muneca">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_muneca']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="joint_herramienta">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_herramienta']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
